{
	"network": {
		"name": "ShadowNET",
		"description": "IRC Network of right now",
		"helpurl": "#help",
		"helpurl": "None at the moment",
		"staffemail": "staff@yolo-swag.com",
		"ports": "6660 .. 6667, 30502",
		"sslports": "6697, 42069",
		"ilines": [
			{"user": "*@109.169.31.3", "password": "swagyolo420", "spoof": "webirc.", "class": "users"},
			{"user": "*@109.169.31.4", "password": "swagyolo420", "spoof": "webirc.", "class": "users"},
			{"user": "*@78.129.190.63", "password": "swagyolo420", "spoof": "webirc.", "class": "users"},
			{"user": "*@*", "class": "users"}
		],
		"olines": [
			{"name": "Xena", "password": "lolpassword", "snomask": "+bcdfFknrsSuWxyz"}
		],
		"services": [
			"services.int",
			"ardreth.shadownet.int"
		],
		"owner": true,
		"admin": true,
		"halfop": true,
		"chancount": 50,
		"bancount": 100,
		"bigbancount": 500,
		"customalias": [
			{"name": "SN", "target": "ShadowNET"},
			{"name": "ShadowNET", "target": "ShadowNET"}
		],
		"defumodes": "nt"
	},

	"servers": [
		{
			"name": "genesect.yolo-swag.com",
			"sid": "649",
			"description": "Enhanced by Team Plasma",
			"ilines": [],
			"hub": true,
			"links": [
				{
					"theirname": "services.int",
					"host": "127.0.0.1",
					"raw": true,
					"send_password": "1mZ58E6HHbvdIos",
					"accept_password": "14nN8XHch0cG23z",
					"port": 6666,
					"hub_mask": "*"
				}
			]
		}
	]
}
